.lessons_list {
    padding: 10px;
    background-color: var(--main-bg-color);
    padding: 15px;
    max-width: 420px;
    margin: 20px auto;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.week_day {
    color: white;
    text-align: center;
    font-size: 26px;
}

.week_days{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
}

.week_days button{
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.week_days button:hover {
    background-color: rgb(0, 255, 255);
}