.setting_block {
    background-color: var(--block-bg-color);
    border: 4px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.setting_title {
    margin: 20px;
}

.change_inner {
    margin: 0px 20px;
    display: flex;
    align-items: center;
}

.settings_input {
    margin: 20px;
    width: 40px;
    height: 40px;

}

.add_change_button {
    width: 35px;
    height: 35px;
    border: 4px solid var(--border-color);
    border-radius: 10px;
}