.navbar {
    background-color: var(--main-bg-color);
    max-width: 420px;
    padding: 15px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px auto -20px auto;
    display: flex;
    justify-content: space-around;
}

button {
    color: white;
    border: none;
    background: none;
    transition: all 0.2s ease;
}

button:hover {
    color: var(--hover-color);
}