.App {

}

.group_link {
    display: block;
    width: 40px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background-color: var(--main-bg-color);
    border: 4px solid white;
    border-radius: 10px;
}

.group_link:hover {
    color: var(--hover-color)
}