:root {
  --main-bg-color: rgb(41, 41, 41);
  --block-bg-color: rgb(120, 120, 120);
  --text-color: rgb(255, 255, 255);
  --hover-color: rgb(3, 253, 253);
  --border-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 40, 40);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}